<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
    <meta name="author" content="Thiru Njuguna">
    <link rel="icon" href="../../favicon.ico">

    <title><%=title%></title>
     <link href="/stylesheets/style.css" rel="stylesheet">

    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
       
          <a class="navbar-brand" href="#">Project Scraping</a>
        </div>
        
      </div>
    </nav>


    <div class="container">
        
        <h4>Notification</h4>
        <p>Links have been saved successfully</p>
        <br>
        <a 
            class="btn
            btn-warning btn-sm"
            href="/" >Go Home</a> OR 
        <a 
            class="btn
            btn-warning btn-sm"
            href="/urls.txt" >View Links</a> OR  <a 
            class="btn
            btn-warning btn-sm"
            href="/urls.txt" download >Download Links File</a>
    </div> <!-- /container -->
<script src="/javascripts/app.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  
  </body>
</html>

